.header {
	display: flex;
	justify-content: space-between;
	background: #fff;

	&-logo {
		display: flex;
		align-items: center;

		&-text {
			margin-left: 20px;

			font-family: "Kdam Thmor Pro", sans-serif;
			font-size: 36px;
			font-weight: bold;

			cursor: default;
		}
	}

	&-nav-menu {
		display: flex;
		align-items: center;
		column-gap: 10px;

		font-size: 24px;

		&-item {
			width: 100px;
			padding: 10px;

			text-align: center;

			border-radius: 4px;
			transition: 0.2s;
			cursor: pointer;

			&:hover {
				background: #ececec;
			}
		}
	}
}

.select-service {
	&-wrapper {
		height: 91px;
		margin-top: 15px;
	}

	&-label {
		position: absolute;
		width: 100%;
		left: 0px;
		display: flex;
		justify-content: center;
		padding: 20px 0;
		background: #e9e743;
	}
}
